* {
  margin: 0;
  padding: 0;
}
body {
  background: #F7F7F5;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.px1-bottom-ddd {
  position: relative;
  border: none;
}
.px1-bottom-ddd:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ddd;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.px1-bottom-d9 {
  position: relative;
  border: none;
}
.px1-bottom-d9:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background: #D9D9D9;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.px1-bottom-d8 {
  position: relative;
  border: none;
}
.px1-bottom-d8:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background: #D8D8D8;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.px1-bottom-f1 {
  position: relative;
  border: none;
}
.px1-bottom-f1:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background: #f1f1f1;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.no-coupons {
  text-align: center;
  color: #999;
  font-size: 20px;
  margin: 10px auto;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal {
  position: fixed;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  width: 630px;
  text-align: center;
}
.modal .close_icon {
  position: absolute;
  right: 0;
  top: 0;
}
.modal .close_icon img {
  width: 30px;
  height: 30px;
  padding: 30px;
  box-sizing: content-box;
}
.modal input {
  width: 87%;
  height: 80px;
  margin: 40px 0;
  line-height: 1.4em;
  background: #FFFFFF;
  border: 4px solid #333333;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: PingFangSC-Regular;
  font-size: 32px;
  color: #333333;
}
.modal input:focus {
  outline: 0;
}
.modal input::input-placeholder {
  font-family: PingFangSC-Regular;
  font-size: 32px;
  color: #999999;
  text-align: center;
  line-height: 32px;
}
@media screen and (min-width: 719px) {
  .modal {
    width: 60%;
  }
}
.van-list__loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.van-list__loading-icon {
  width: 22px;
  height: 22px;
}
.van-list__error-text,
.van-list__finished-text,
.van-list__loading-text {
  font-size: 18px !important;
}
.loading_icon {
  position: fixed;
  top: 48%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
}
.van-picker {
  font-size: 26px !important;
}
.van-picker__cancel,
.van-picker__confirm,
.van-picker-column {
  font-size: 26px !important;
}
.van-picker__toolbar {
  height: 80px;
  line-height: 80px;
}
.van-cell {
  font-size: 26px !important;
  padding: 20px 30px;
}
.van-field__body textarea {
  line-height: 30px;
  text-align: right;
}
.van-field__label {
  max-width: 150px;
}
.van-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 85%;
  font-size: 32px;
  overflow: hidden;
  transition: 0.3s;
  border-radius: 8px;
  transform: translate3d(-50%, -50%, 0);
  backface-visibility: hidden;
}
.van-dialog__header {
  font-weight: 500;
  padding-top: 50px;
  text-align: center;
}
.van-dialog__header--isolated {
  padding: 50px 0;
}
.van-dialog__message {
  padding: 50px;
  font-size: 28px;
  line-height: 1.5;
  max-height: 60vh;
  overflow-y: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  white-space: pre-wrap;
}
.van-dialog__message--has-title {
  padding-top: 24px;
}
.van-button--large {
  width: 100%;
  height: 100px;
  line-height: 96px;
}
.van-button {
  font-size: 32px;
}
