/* pages/classOperate/add/add.wxss */
@import './../common.less';

.course_type {
  padding: 32rpx;
  background-color: #fff;
  .type_title {
    margin-bottom: 48rpx;
    font-size: 32rpx;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
  }
  .radio {
    display: block;
    margin-bottom: 48rpx;
    .radio_text {
      margin-left: 32rpx;
      font-size: 32rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }
  }
}

