.table_top_tool {
  margin-bottom: 10px;
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.yg_item_wrapper .ivu-upload-list-remove {
  display: none;
}
.spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin-col {
  height: 100px;
  position: relative;
  border: 1px solid #eee;
}
.ivu-layout-header {
  z-index: 9;
}
.ivu-spin-fix {
  background-color: rgba(255, 255, 255, 0.6);
}
